<div ng-controller="sideArticlesController">
    <h3 class="text-center">Latest Articles</h3>
    <div ng-if="!articles.length" class="callout callout-info">
        <strong>There are no articles yet</strong>
    </div>
    <ul class="list-group selected">
        <li class="list-group-item" ng-repeat="a in articles">

            <a ng-if="a.auth.download" class="btn btn-success btn-striped pull-right"
                ng-href="/articles/{{a.id}}/download" target="_blank">
                Download
            </a>
            
            <i class="fa fa-fw fa-circle status-{{a.status}}" title="{{a.status_txt}}"></i>
            <a ng-href="#/articles/{{ a.id }}">
                <strong>{{ a.name }}</strong>
            </a>
            <code ng-if="a.auth.review">[reviewer]</code>
            <br>
            - <i>{{ a.user.full_name }}</i>

        </li>
    </ul>
</div>
