<div class="container">
    <div class="col-md-4">
        <div ng-include="'/pages/sidebar/articles.html'"> </div>
    </div>
    <div class="col-md-8">
        <h1>Conferences</h1>

        <div ng-if="!conference">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in conferences">
                        <td>
                            <a ng-href="#/conferences/{{c.id}}">
                                {{ c.name }}
                            </a>
                            <code ng-if="c.auth.manage">[chair]</code>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="resetForm()" class="btn btn-success btn-striped">Add +</button>
        </div>

        <div ng-if="conference">
            <form class="form-horizontal" ng-submit="submit()">
                <div class="alert alert-danger" role="alert" ng-if="error">{{ error }}</div>
                <div class="alert alert-info" role="alert" ng-if="status">{{ status }}</div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="conference.name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a ng-click="gotoList()" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-success btn-striped">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
